.menu-popper {
    padding-bottom: 8px;

    .menu-item {
        margin-left: 0px;
    }
}

//Menu wrapper
.menu-wrapper {
    width: 224px;

}

.menu-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    padding: 11px 16px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
    }

    &.active {
        background-color: rgba(22, 24, 35, 0.05);
    }
}

//Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-button {
    font-size: 2.6rem;
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.separate{
    border-top: 1px solid #d5d5d5;
    border-radius: 0px;
}